pyyaml
pillow
pillow-pil
M2Crypto
GeoIP
SOAPpy
suds
lxml
qrcode
xmltodict
flake8
pylint-mccabe
PyWebDAV
mygengo
recaptcha-client
egenix-mx-base
branchesv
pstats_print2list
psutil==4.3.1
docutils==0.12
pandas>=0.16.2
python-gitlab==0.15.1
pytz==2016.7
passlib==1.6.5
vatnumber==1.2
python-digitalocean==1.10.1
suds-jurko==0.6
reportlab==3.3.0
num2words
decorator==4.0.10
pysftp
python-ldap
six==1.10.0
pyPdf==1.13
acme_tiny
requests_mock
cssutils>=1.0.1
jcconv==0.2.3
gitpython==1.0.0
python-dateutil==2.5.3
feedparser==5.2.1
cython
pyusb==1.0.0
pyserial==3.1.1
psycopg2==2.6.2
validate_email
sphinx-patchqueue==0.4.0
psycogreen==1.0
xlwt==1.1.2
pydot==1.2.3
sphinx==1.2.3
requests==2.11.1
unidecode
gevent==1.1.2
ebaysdk==2.1.4
mock==2.0.0
ofxparse
greenlet==0.4.10
git+https://github.com/savoirfairelinux/num2words.git@0.5.4
vobject==0.9.3
python-openid==2.2.5
wsgiref==0.1.2
pyparsing==2.1.10
git+https://github.com/vauxoo/pylint-odoo@master#egg=pylint-odoo
git+https://github.com/vauxoo/panama-dv@master#egg=ruc
