fdb==1.7
sqlalchemy==1.1.9
pillow-pil
M2Crypto
GeoIP
SOAPpy
suds
xmltodict
flake8
pylint-mccabe
PyWebDAV
mygengo
recaptcha-client
branchesv
pstats_print2list
pandas>=0.16.2
python-gitlab==0.15.1
python-digitalocean==1.10.1
num2words
pysftp
acme_tiny
requests_mock
cssutils>=1.0.1
gitpython==1.0.0
cython
validate_email
sphinx-patchqueue==0.4.0
sphinx==1.2.3
unidecode
