pillow-pil
GeoIP
flake8
pylint-mccabe
PyWebDAV
mygengo
recaptcha-client
branchesv
requirements-parser==0.1.0
setuptools==33.1.1
pstats_print2list
py2-ipaddress==3.4.1
twilio==5.4.0
validate_email
yowsup2==2.3.185
suds
num2words
xlrd>=1.0.0
IPy
unidecode
pandas==0.18.0
cssutils >= 1.0.1
pyotp==2.0.1
python-stdnum==1.1
tabulate == 0.7.5
m2crypto==0.25.1
openupgradelib>=0.1.2
beautifulsoup4
Counter
pycountry>=0.19
pysftp
odoorpc
workalendar == 0.8.0
acme_tiny
pyopenssl>=16.2.0
numexpr==2.6.1
SOAPpy==0.12.22
unicodecsv
xmltodict==0.10.2
cryptography==2.2.2
