pyyaml
pillow
pillow-pil
M2Crypto
GeoIP
SOAPpy
lxml
qrcode
xmltodict
flake8
pylint-mccabe
PyWebDAV
mygengo
recaptcha-client
egenix-mx-base
branchesv
git+https://github.com/vauxoo/pylint-odoo@master#egg=pylint-odoo
git+https://github.com/vauxoo/panama-dv@master#egg=ruc
requirements-parser==0.1.0
setuptools==33.1.1
pstats_print2list
py2-ipaddress==3.4.1
docutils==0.12
qrcode==5.3
git+https://github.com/vauxoo/panama-dv.git
passlib==1.6.2
PyYAML==3.11
qrcode==5.0.1
numexpr
Jinja2==2.7.3
twilio==5.4.0
MarkupSafe==0.23
pyusb==1.0.0b1
gdata==2.0.18
validate_email
yowsup2==2.3.185
lxml==3.3.5
suds
num2words
xlrd>=1.0.0
psycopg2==2.5.3
pyusb==1.0.0b2
Pillow==2.5.1
vobject==0.6.6
qrcode==5.2.2
IPy
unidecode
Werkzeug==0.9.6
pyPdf==1.13
greenlet==0.4.7
feedparser==5.1.3
qrcode==5.1
pyparsing
pandas == 0.18.0
python-dateutil==1.5
cssutils >= 1.0.1
jcconv==0.2.3
argparse==1.2.1
xlrd==1.0.0
requests
pyotp==2.0.1
pandas
python-stdnum==1.1
gevent==1.0.2
Mako==1.0.0
unittest2==0.5.1
tabulate == 0.7.5
m2crypto==0.25.1
requests==2.6.0
openupgradelib>=0.1.2
beautifulsoup4
Counter
Python-Chart==1.39
pyserial==2.7
decorator==3.4.0
pycountry>=0.19
pysftp
psycogreen==1.0
reportlab==3.1.44
odoorpc
python-ldap
pillow==3.3.0
vatnumber==1.2
simplejson==3.5.3
workalendar == 0.8.0
acme_tiny
mock==1.0.1
wsgiref==0.1.2
pyopenssl==16.0.0
pydot==1.0.2
psutil==2.1.1
pandas==0.18.0
xlrd == 1.0.0
numexpr==2.6.1
xlwt==0.7.5
six==1.7.3
SOAPpy==0.12.22
unicodecsv
python-ldap==2.4.15
pytz==2014.4
python-openid==2.2.5
Babel==1.3
xmltodict==0.10.2
cryptography==1.4
html2text==2016.9.19
