pillow-pil
M2Crypto
GeoIP
SOAPpy
suds
pandas
xmltodict
flake8
pylint-mccabe
PyWebDAV
mygengo
recaptcha-client
egenix-mx-base
setuptools==33.1.1
unidecode
cssutils>=1.0.1
xlsxwriter==0.9.4
Counter
xlrd==1.0.0
sphinx==1.2.3
acme_tiny
m2crypto==0.25.1
sphinx-patchqueue==0.4.0
pandas
pyopenssl==16.2.0
cfdilib==0.4.0
suds==0.4
git+https://github.com/dlitz/pycrypto.git@master#egg=pycrypto==2.7a1
xmltodict==0.10.2
validate_email
json2html===1.0.1
odoorpc
git+https://github.com/savoirfairelinux/num2words.git@0.5.4
IPy

